.btn-primary {
    background-color: #0073aa;
border-color: #0073aa;
color: #fff;
}

.btn-secondary {
    background-color: #cccccc;;
    border-color: #cccccc;;
    color: #fff;
  }

  ::ng-deep .form-select option {
    width: 100px; /* Adjust this value as needed */
  }

  ::ng-deep {
   .countryPopup {
    min-height: 20px !important;
   }
  }
  .countryPopup {
    max-width: 100px !important;
  }
  