.validation-feedback {

  margin-top: 8px;

}




.invalid-feedback,

.valid-feedback {

  display:inline;

  margin-top: 4px;

  font-size: 14px;

  font-family: 'Times New Roman', Times, serif;

}


.password-label {
  position: relative;
}

.eye-button {
  background: none;
  border: none;
  position: absolute;
  top: 35px;
  right: 15px;
}

.btn-secondary {
  background-color: #cccccc;;
  border-color: #cccccc;;
  color: #fff;
}