<div class="main-content" style="margin-top: -4%">
  <div class="page-content">
    <div class="container-fluid">
      <p-toast></p-toast>
      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div
            style="padding: 1px"
            class="page-title-box d-sm-flex align-items-center justify-content-between"
          >
            <h4 class="mb-sm-0 font-size-18">
              <i class="bx bxs-user-check"></i> Sponsor
            </h4>

            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item">
                  <a routerLink="/home/cro/dashboards" class="waves-effect"
                    >Dashboard</a
                  >
                </li>

                <li class="breadcrumb-item active">Sponsor</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <!-- <div class="row" style="margin-right: -13%;" >
                <div class="col-md-9"></div>
                <div class="col-md-2">
                  <div class="pull-Right mb-2 text-right" width="100%">
                    <button  type="button" (click)="sponsorCreate()"
                      class="btn btn-warning waves-effect btn-label waves-light r-red pull-Right" data-bs-toggle="modal"
                      data-bs-target=".transaction-detailModal"><i class="bx bx-plus label-icon"></i>
                      Add Sponsor</button>
                  </div>
                </div>
              </div> -->

              <!-- <hr width="100%" class="mb-4"> -->
              <div
                id="datatable_wrapper"
                class="dataTables_wrapper dt-bootstrap4 no-footer"
              >
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="col-sm-12 col-md-6">
                      <div
                        id="datatable_filter"
                        class="dataTables_filter"
                        style="text-align: left !important"
                      >
                        <label
                          >Search :
                          <input
                            autocomplete="off"
                            type="text"
                            class="form-control"
                            [(ngModel)]="searchText"
                            placeholder="Search "
                            (keyup)="applyFilter(searchText)"
                          />
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <!-- class="btn btn-warning waves-effect btn-label waves-light r-red pull-right" -->
                    <button
                      type="button"
                      (click)="sponsorCreate()"
                      class="btn btn-primary btn-round 
                      waves-effect btn-label waves-light pull-right"
                      data-bs-toggle="modal"
                      data-bs-target=".transaction-detailModal"
                    >
                      <i class="bx bx-plus label-icon"></i> Add Sponsor
                    </button>
                  </div>

                  <div class="row" class="table-responsive text-nowrap">
                    <div class="col-sm-12">
                      <!-- Theme Table start -->
                      <!-- <table class="table align-middle text-nowrap">
                        <thead>
                            <tr>
                                <th class="text-dark font-medium fs-4">Team Lead</th>
                                <th class="text-dark font-medium fs-4">Project</th>
                                 
                                <th class="text-dark font-medium fs-4">Weeks</th>
                                <th class="text-dark font-medium fs-4">Budget</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor='let ts of topSelling'>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img [src]=ts.image alt="user" width="45" class="rounded-circle">
                                    <div class="ms-3">
                                        <h5 class="mb-0 font-medium">{{ts.uname}}</h5>
                                        <span class="text-muted">{{ts.gmail}}</span>
                                    </div>
                                </div>
                            </td>
                            <td class="fs-4">{{ts.productName}}</td>
                            <td>
                                <span class="p-2 bg-{{ts.status}} rounded-circle d-inline-block ms-3"></span>
                            </td>
                            
                            <td>
                                <h5 class="mb-0 fw-normal">{{ts.weeks}}</h5>
                            </td>
                            <td>
                                <h5 class="mb-0 fw-normal">{{ts.budget}}</h5>
                            </td>
                        </tr>              
                        </tbody>
                    </table> -->
                      <!-- Theme table end -->

                      <!-- <table 
                        id="datatable"
                        class="table table-striped"
                        class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover"
                        role="grid"
                        aria-describedby="datatable_info"
                        style="width: 1182px"
                      >
                        <thead>
                          <tr role="row">
                            <th
                              tabindex="0"
                              aria-controls="datatable"
                              rowspan="1"
                              colspan="1"
                              style="width: 243.2px"
                              aria-sort="ascending"
                              (click)="toggleSorting()"
                              aria-label="Code: activate to sort column descending"
                              (click)="sort('sponsor_id')"
                            >
                              Code
                              <span style="float: right" class="sort-icons">
                                <i
                                  class="bx bx-chevron-up"
                                  [ngClass]="{ active: isAscendingSort }"
                                ></i>
                                <i
                                  class="bx bx-chevron-down"
                                  [ngClass]="{ active: !isAscendingSort }"
                                ></i>
                              </span>
                            </th>
                            <th
                              tabindex="0"
                              aria-controls="datatable"
                              rowspan="1"
                              colspan="1"
                              (click)="toggleSorting1()"
                              style="width: 335.2px"
                              aria-label="Name: activate to sort column ascending"
                              (click)="sort('sponsor_name')"
                            >
                              Name
                              <span style="float: right" class="sort-icons">
                                <i
                                  class="bx bx-chevron-up"
                                  [ngClass]="{ active: isAscendingSort1 }"
                                ></i>
                                <i
                                  class="bx bx-chevron-down"
                                  [ngClass]="{ active: !isAscendingSort1 }"
                                ></i>
                              </span>
                            </th>
                            <th
                              tabindex="0"
                              aria-controls="datatable"
                              rowspan="1"
                              colspan="1"
                              (click)="toggleSorting2()"
                              style="width: 282.2px"
                              aria-label="Email: activate to sort column ascending"
                              (click)="sort('email')"
                            >
                              Email Id
                              <span style="float: right" class="sort-icons">
                                <i
                                  class="bx bx-chevron-up"
                                  [ngClass]="{ active: isAscendingSort2 }"
                                ></i>
                                <i
                                  class="bx bx-chevron-down"
                                  [ngClass]="{ active: !isAscendingSort2 }"
                                ></i>
                              </span>
                            </th>
                            <th
                              width="40"
                              tabindex="0"
                              aria-controls="datatable"
                              rowspan="1"
                              colspan="1"
                              style="width: 80.2px"
                              aria-label="Actions: activate to sort column ascending"
                            >
                              Actions
                            </th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr
                            class="odd"
                            style="vertical-align: middle"
                            *ngFor="
                              let sponsorData of sponsorDetails
                                | sort : sortedColumn : sortDirection
                                | paginate
                                  : {
                                      id: 'sponsorPagination',
                                      itemsPerPage: pageSize,
                                      currentPage: page,
                                      totalItems: totalCount
                                    };
                              let i = index
                            "
                          >
                            <td
                              class="sorting_1 dtr-control"
                              style="color: blue; cursor: pointer"
                              (click)="edit(sponsorData.sponsor_id, 'view')"
                            >
                              {{ sponsorData.sponsor_code }}
                            </td>

                          
                            <td>
                              <div class="d-flex align-items-center">
                                <img
                                  [src]="topSelling[i].image"
                                  alt="user"
                                  width="45"
                                  class="rounded-circle"
                                />
                                <div class="ms-3">
                         
                                  <span class="text-muted">{{
                                    sponsorData.sponsor_name
                                  }}</span>
                                </div>
                              </div>
                            </td>
                            <td>{{ sponsorData.email }}</td>
                            <td class="text-center">
                              <button
                                type="button"
                                (click)="edit(sponsorData.sponsor_id, 'edit')"
                                class="btn btn-success waves-effect edit-btn waves-light"
                              >
                                <i
                                  class="bx bx-edit-alt font-size-16 align-middle"
                                ></i></button
                              >&nbsp;
                          
                              <button
                                style="margin-left: 5px"
                                (click)="edit(sponsorData.sponsor_id, 'view')"
                                class="btn btn-success waves-effect edit-btn waves-light"
                              >
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="16"
                                  height="16"
                                  fill="currentColor"
                                  class="bi bi-eye"
                                  viewBox="0 0 16 16"
                                >
                                  <path
                                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"
                                  />
                                  <path
                                    d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"
                                  />
                                </svg>
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <td
                              colspan="12"
                              *ngIf="sponsorDetails.length === 0"
                              style="text-align: center; font-size: 0.8rem"
                            >
                              No Data Found
                            </td>
                          </tr>
                        </tbody>
                      </table> -->

                      
                      <!-- Table without icons start -->
                      <table 
    id="datatable"
    class="table table-striped table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover"
    role="grid"
    aria-describedby="datatable_info"
    style="width: 1182px"
>
    <thead>
        <tr role="row">
            <th
                tabindex="0"
                aria-controls="datatable"
                rowspan="1"
                colspan="1"
                style="width: 243.2px"
                aria-sort="ascending"
                (click)="toggleSorting()"
                aria-label="Code: activate to sort column descending"
                (click)="sort('sponsor_id')"
            >
                Code
            </th>
            <th
                tabindex="0"
                aria-controls="datatable"
                rowspan="1"
                colspan="1"
                (click)="toggleSorting1()"
                style="width: 335.2px"
                aria-label="Name: activate to sort column ascending"
                (click)="sort('sponsor_name')"
            >
                Name 
            </th>
            <th
                tabindex="0"
                aria-controls="datatable"
                rowspan="1"
                colspan="1"
                (click)="toggleSorting2()"
                style="width: 282.2px"
                aria-label="Email: activate to sort column ascending"
                (click)="sort('email')"
            >
                Email Id
            </th>
            <th
                width="40"
                tabindex="0"
                aria-controls="datatable"
                rowspan="1"
                colspan="1"
                style="width: 80.2px"
                aria-label="Actions: activate to sort column ascending"
            >
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        <tr
            class="odd"
            style="vertical-align: middle"
            *ngFor="
                let sponsorData of sponsorDetails
                    | sort : sortedColumn : sortDirection
                    | paginate
                        : {
                            id: 'sponsorPagination',
                            itemsPerPage: pageSize,
                            currentPage: page,
                            totalItems: totalCount
                        };
                let i = index
            "
        >
            <td
                class="sorting_1 dtr-control"
                style="color: blue; cursor: pointer"
                (click)="edit(sponsorData.sponsor_id, 'view')"
            >
                {{ sponsorData.sponsor_code }}
            </td>

            <td>
                <div class="d-flex align-items-center">
              
                    <div class="ms-3">
                        <span class="text-muted">{{ sponsorData.sponsor_name }}</span>
                    </div>
                </div>
            </td>
            <td>{{ sponsorData.email }}</td>
            <td class="text-center">
                <button
                    type="button"
                    (click)="edit(sponsorData.sponsor_id, 'edit')"
                    class="btn btn-success waves-effect edit-btn waves-light"
                >
                    <i class="bx bx-edit-alt font-size-16 align-middle"></i>
                </button>
                &nbsp;
                <button
                    style="margin-left: 5px"
                    (click)="edit(sponsorData.sponsor_id, 'view')"
                    class="btn btn-success waves-effect edit-btn waves-light"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-eye"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"
                        />
                        <path
                            d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"
                        />
                    </svg>
                </button>
            </td>
        </tr>
        <tr>
            <td
                colspan="12"
                *ngIf="sponsorDetails.length === 0"
                style="text-align: center; font-size: 0.8rem"
            >
                No Data Found
            </td>
        </tr>
    </tbody>
</table>

  <!-- Table without icons End -->
                      <pagination-controls
                        id="sponsorPagination"
                        (pageChange)="pageChange($event)"
                        *ngIf="sponsorDetails && sponsorDetails.length"
                      ></pagination-controls>
                      <div class="row">
                        <div class="col-md-10"></div>
                        <div class="col-md-2">
                          <p style="margin-top: -20%; color: #0a0a0a">
                            Total Count:[{{ totalCount }}]
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
        <!-- container-fluid -->
      </div>
      <!-- End Page-content -->

      <footer class="footer" style="position: fixed">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">{{ getCurrentYear() }} © ROBOXA</div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
