<div id="layout-wrapper">

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content" style="margin-top: -4%;">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div style="padding:1px"
                            class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">
                                <i class="bx bxs-dashboard"></i>Edit Kit Verification 
                            </h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item">
                                        <a routerLink="/home/cro/dashboards" class="waves-effect">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a routerLink="/home/centralLab/kitvarificationGrid" class="waves-effect">Kit
                                            Verification</a>
                                    </li>
                                    <li class="breadcrumb-item active">Edit Kit Verification </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <p-toast></p-toast>

                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="preparationForm">
                            <div class="row">
                                <div id="printSection">

                                </div>
                              

                                <div *ngIf="displayValues" class="col-md-4 mb-3">

                                    <label for="formrow-firstname-input" class="form-label">Study Name</label>
                                    <input autocomplete="off" type="text" placeholder="Study Name"
                                        formControlName="protocol_name" class="form-control" value="" />
                                </div>
                                <div *ngIf="displayValues" class="col-md-12">
                                    <div class="mb-3">
                                        <label for="formrow-firstname-input" class="form-label">Special
                                            Instructions</label>
                                        <textarea class="form-control" rows="3" cols="5"
                                            formControlName="specialInstructions" id="comment"></textarea>

                                    </div>
                                </div>
                            </div>
                        </form>


                        <hr class="mt-4 mb-4" />

                        <div class="row">
                            <div *ngIf="displayValues" class="col-md-12 mb-3">
                                <h4 class="r-blue-text">Kit Details</h4>
                            </div>
                            <div class="col-md-12 mb-3" style="margin-top:-5%">
                                <div *ngIf="displayValues" class="tab-content pt-3 text-muted">
                                    <div class="tab-pane active" role="tabpanel">

                                        <br>

                                        <p-tabView>
                                            <p-tabPanel header="Screening">
                                                <h3> {{screeningVariant}}</h3>
                                                <h5 class="mb-sm-0 font-size-18">
                                                    Screen Kit Count : {{scount}}
                                                </h5>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-3 mt-2 mb-3">
                                                        <h5> Selected Lab Tests</h5>

                                                        <h6 style="color: black"
                                                            *ngFor="let item of screenDetails  let k = index">
                                                            &nbsp;&nbsp;{{k+1}}.&nbsp;&nbsp;{{ item }}</h6>
                                                    </div>
                                                </div>
                                                <br>


                                                <h5 class="mb-sm-0 font-size-18">
                                                    Materials
                                                </h5>
                                                <hr />
                                                <div class="row card-group">
                                                    <div class="col-md-3 mb-3" *ngFor="let item of sMatDetails">
                                                        <p-card [styleClass]="'custom-card'"
                                                            [style]="{width: '200px', height:'300px'}"
                                                            styleClass="p-card-shadow">
                                                            <ng-template pTemplate="header">
                                                                <img style="width:199px; height: 147px;"
                                                                    src="{{item.image}}" />
                                                            </ng-template>
                                                            <h5 class="r-blue-text"> {{ item.material_name || item.meterial_id }}</h5>
                                                            <!-- Material:{{ item.material_name || item.meterial_id }} <br> -->
                                                            Size: {{item.size}}<br>
                                                            Qunatity: {{item.quantity}}<br>

                                                        </p-card>
                                                    </div>
                                                </div>

                                                <br>
                                                <div class="row">
                                                  
                                              
                                                            <div class="table-responsive" [formGroup]="ScreenKitForm">
                                                                <table class="table table-striped mb-0"
                                                                    formArrayName="screenKitList">
                                                                    <thead Style="background:#EEE">
                                                                        <tr>
                                                                            <th>Kit Id</th>
                                                                            <th>Central Lab Kit Id</th>
                                                                            <th>Preparation</th>
                                                                            <th>Expiration Date</th>

                                                                            <th>Status</th>

                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>

                                                                        <tr [formGroupName]="i" *ngFor="
                                                    let item of ScreenKitForm.get('screenKitList')
                                                      .controls;
                                                    let i = index
                                                  ">
                                                  <td>
                                                    <input type="text" placeholder="kit Id"
                                                        [disabled]="true" formControlName="kitId"
                                                        class="form-control"
                                                        value="{{item.kitId}}" />
                                                </td>
                                                <td>
                                                    <input type="text" [disabled]="true"
                                                        placeholder="Lab KitId"
                                                        formControlName="ckitId" value=""
                                                        class="form-control" />
                                                </td>
                                                <td>
                                                    <input type="text" [disabled]="true"
                                                        placeholder="Preparation"
                                                        formControlName="prepration" value=""
                                                        class="form-control" />
                                                </td>
                                          
                                               
                                                <td>
                                                    <input type="date" [disabled]="true"
                                                        placeholder="Expiry Date"
                                                        formControlName="expiryDate" value=""
                                                        class="form-control" />
                                                </td>


                                                                            <td width="25%">
                                                                                <select formControlName="status" (change)="checkVerification($event, i)"
                                                                                    maxlength="40" class="form-select"
                                                                                    aria-label="Default select example">

                                                                                    <option
                                                                                        *ngFor="let s of preprationData"
                                                                                        [value]="s.name">
                                                                                        {{s.name}}
                                                                                    </option>
                                                                                </select>

                                                                            </td>

                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                    
                                                </div>



                                            </p-tabPanel>

                                            <p-tabPanel header="Visits" *ngFor="let item of vMatDetails  let i = index"
                                                header="{{item.alternate_names | titlecase}}">
                                                <h3> {{item.kit_variant}}</h3>
                                                <h5 class="mb-sm-0 font-size-18">
                                                    Visit Kit Count : {{vcount}}
                                                </h5>
                                                <br>
                                                <div>
                                                    <h5>Selected Lab Tests </h5>
                                                    <h6 class="col-md-6 mb-3"  style="color: black"
                                                    *ngFor="let items of item.selectedLabTests  let k = index">
                                                    &nbsp;{{k+1}}.&nbsp;{{ items }}</h6>

                                                    <!-- <div class="col-md-6 mb-3"
                                                        *ngFor="let items of item.selectedLabTests">
                                                        <p>{{items}}</p>
                                                    </div> -->
                                                    <br>

                                                    <div class="row card-group">
                                                        <div class="col-md-3 mb-3" *ngFor="let items of item.visits">
                                                            <p-card [style]="{width: '200px', height:'300px'}"
                                                                styleClass="p-card-shadow">
                                                                <ng-template pTemplate="header">
                                                                    <img style="width:199px; height: 147px;"
                                                                        src="{{items.image}}" />
                                                                </ng-template>
                                                                <h5 class="r-blue-text"> {{ items.material_name || items.meterial_id }}</h5>
                                                                Size: {{items.size}}<br>
                                                                Qunatity: {{items.quantity}}<br>

                                                            </p-card>
                                                            <!-- </div> -->
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                 
                                                            <div class="table-responsive"
                                                                [formGroup]="item.visitKitFormGroup">
                                                                <table class="table table-striped mb-0"
                                                                    formArrayName="visitKitList">
                                                                    <thead Style="background:#EEE">
                                                                        <tr>

                                                                            <th>Kit Id</th>
                                                                            <th>Central Lab Kit Id</th>
                                                                            <th>Preparation</th>
                                                                            <th>Expiration Date</th>

                                                                            <th>Status</th>

                                                                        </tr>
                                                                    </thead>

                                                                    <tbody *ngIf="item.visitsList">


                                                                        <tr *ngFor="let control of item.visitsList.controls; let j = index"
                                                                            [formGroupName]="j">
                                                                            <td>
                                                                                <input type="text" placeholder="kit Id"
                                                                                    [disabled]="true" formControlName="kitId"
                                                                                    class="form-control"
                                                                                    value="{{item.kitId}}" />
                                                                            </td>
                                                                            <td>
                                                                                <input type="text" [disabled]="true"
                                                                                    placeholder="Lab KitId"
                                                                                    formControlName="ckitId" value=""
                                                                                    class="form-control" />
                                                                            </td>
                                                                            <td>
                                                                                <input type="text" [disabled]="true"
                                                                                    placeholder="Preparation"
                                                                                    formControlName="prepration" value=""
                                                                                    class="form-control" />
                                                                            </td>
                                                                      
                                                                           
                                                                            <td>
                                                                                <input type="date" [disabled]="true"
                                                                                    placeholder="Expiry Date"
                                                                                    formControlName="expiryDate" value=""
                                                                                    class="form-control" />
                                                                            </td>

                                                                            <td width="25%">
                                                                                <select formControlName="status" (change)="checkVerificationv(i, j)"
                                                                                    class="form-select form-control">
                                                                                    <option
                                                                                    *ngFor="let s of preprationData"
                                                                                    [value]="s.name">
                                                                                    {{s.name}}
                                                                                </option>
                                                                                </select>
                                                                            </td>


                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                        </div>
                                              
                                            </p-tabPanel>

                                            <br>
                                            <div class="col-md-12 mb-3" align="right">
                                                <div class="mb-2 text-right" width="100%">
                                                    <button type="button"
                                                        class="btn btn-warning waves-effect btn-label waves-light r-blue pull-Right"
                                                        style="width: 100px; height: 40px" (click)="SubmitData()">
                                                        <i class="bx bx-hdd label-icon"></i> Submit
                                                    </button>
                                                </div>
                                            </div>


                                        </p-tabView>





                                        <br>
                                        <br>
                                        <div class="row">



                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- HTML template -->



            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        <footer class="footer" style="position: fixed;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">{{getCurrentYear()}} © ROBOXA</div>
                </div>
            </div>
        </footer>
    </div>
    <!-- end main content-->
</div>

<!-- END layout-wrapper -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>