<div class="main-content" style="margin-top: -4%;">

  <div class="page-content">
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div style="padding:1px" class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18"><i class="bx bxs-user-check"></i>Sponsor</h4>

            <div class="page-title-right">
              <ol class="breadcrumb m-0">

                <li class="breadcrumb-item"> <a routerLink="/home/cro/dashboards" class="waves-effect">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Sponsor</li>

              </ol>

            </div>

          </div>
        </div>
      </div>
      <!-- end page title -->


      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <!-- <hr width="100%" class="mb-4"> -->
              <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="row">


                  <div class="col-sm-12 col-md-6">

                    <div class="col-sm-12 col-md-6">
                      <div id="datatable_filter" class="dataTables_filter" style="text-align:left !important"><label>Search :
                          <input autocomplete="off" type="text" class="form-control" [(ngModel)]="searchText"
                            placeholder="Search " (keyup)="applyFilter(searchText)" />
                        </label></div>
                    </div>
                  </div>


                  <div class="row" class="table-responsive text-nowrap">
                    <div class="col-sm-12">
                      <table id="datatable" class="table table-striped"
                        class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline"
                        role="grid" aria-describedby="datatable_info" style="width: 1182px;">
                        <thead>
                          <tr role="row">
                            <th tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 243.2px;"
                              aria-sort="ascending" (click)="toggleSorting()"
                              aria-label="Code: activate to sort column descending" (click)="sort('protocol_id')">Study
                              Code
                              <span style="float: right;" class="sort-icons">
                                <i class="bx bx-chevron-up" [ngClass]="{'active': isAscendingSort}"></i>
                                <i class="bx bx-chevron-down" [ngClass]="{'active': !isAscendingSort}"></i>
                              </span>
                            </th>
                            <th tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                              (click)="toggleSorting1()" style="width: 335.2px;"
                              aria-label="Name: activate to sort column ascending" (click)="sort('protocol_name')">
                              Study Name
                              <span style="float: right;" class="sort-icons">
                                <i class="bx bx-chevron-up" [ngClass]="{'active': isAscendingSort1}"></i>
                                <i class="bx bx-chevron-down" [ngClass]="{'active': !isAscendingSort1}"></i>
                              </span>
                            </th>

                            <th width="40" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                              style="width: 150.2px;" aria-label="Actions: activate to sort column ascending">Actions
                            </th>
                          </tr>
                        </thead>


                        <tbody>

                          <tr class="odd" style="vertical-align: middle;"
                            *ngFor="let protocolData of uniqueCombinedArray | sort:sortedColumn:sortDirection | paginate: { id: 'sitePagination', itemsPerPage: pageSize, currentPage: page, totalItems: totalCount }; let i=index">

                            <td class="sorting_1 dtr-control" style="color:blue;cursor: pointer" (click)="view(protocolData.id,'sponsor')">{{protocolData.protocol_id}}</td>

                            <td>{{protocolData.protocol_name}}</td>

                            <td>
                              <button style="margin-left: 5px;" (click)="view(protocolData.id,'sponsor')"
                                class="btn btn-success waves-effect edit-btn waves-light"><svg
                                  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                  class="bi bi-eye" viewBox="0 0 16 16">
                                  <path
                                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                  <path
                                    d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                </svg></button>

                              <!-- <button style="margin-left: 5px;" (click)="view(protocolData.id,'sponsor')" class="btn btn-success waves-effect edit-btn waves-light" > <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                  <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                                </svg></button> -->

                            </td>
                          </tr>

                        </tbody>
                      </table>
                      <pagination-controls id="sitePagination" (pageChange)="pageChange($event)"
                        *ngIf="uniqueCombinedArray && uniqueCombinedArray.length"></pagination-controls>
                      <div class="row">
                        <div class="col-md-10">

                        </div>
                        <div class="col-md-2">
                          <p style="margin-top: -26%; color:#0a0a0a">Total Count:[{{totalCount}}]</p>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>


              </div>
            </div>
          </div>

          <!-- end col -->
        </div> <!-- end row -->
      </div>
      <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
    <footer class="footer" style="position: fixed;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">{{getCurrentYear()}} © ROBOXA</div>
        </div>
      </div>
    </footer>
  </div>
